.container {
     
    height: 100vh;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.sidenav-content {
    /* display: flex; */
    // height: 100%;
    /* align-items: center;
    justify-content: center; */
    overflow: hidden;
}

.sidenav {
    padding: 20px;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.menuItem:hover {
    cursor: pointer;
}

.innerMenuItem {
    padding-left: 10px;
    margin-bottom: 20px;
}

.innerMenuItem:hover {
    cursor: pointer;
}

.menuTitle {
    font-size: 20pt;
    margin-bottom: 40px;
}

.toggleSideNavButton {
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: transparent;
    padding: 0;
    /* border: 1px solid red; */
}

.toggleSideNavButton:hover {
    background-color: none !important;
    border: none;
    cursor: pointer;
}

.headerItems {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.push {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25pt;
}