.formCard {
    margin: 40px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.innerFormCard {
    width: 300px !important;
    margin: 40px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.addEventTypesCard {
    width: 200px;
}

.displayEventTypesTable {
    width: 60% !important;
}


.tablesLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formFieldColumn {
    display: flex;
    flex-direction: column;
}

.addButton {}

.eventNameStyle {
    margin-bottom: 10px;
}